<link rel="stylesheet" href="/static/style.css" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
<form action='/{{x}}HatesNo{{y}}' method="POST">
	<div class="login">
		<div class="app-name">
			<h1> Matcha </h1>
		</div>
		<div class="login-screen">
			<div class="app-title">
				<h2>Blocking {{N}}</h2>
			</div>
			<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="any reason why?" name="why">
				<label class="login-field-icon fui-user">
				</label>
			</div>
			<input type="submit" value="Confirm" class="btn btn-primary btn-large btn-block">
			<hr>
			<a href="/" style="text-align: center" class="btn btn-primary btn-large btn-block">
				DashBoard
			</a>
		</div>
	</div>
</form>