<link rel="stylesheet" href="/static/style.css" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
<form action="/deleteUser">
	<div class="login">
		<div class="app-name">
			<h1> Matcha </h1>
		</div>
		<div class="login-screen">
			<div class="app-title">
				<h2>Delete Account</h2>
			</div>
			<input type="submit" value="Confirm" class="btn btn-primary btn-large btn-block">
			<hr>
			<a href="/" style="text-align: center" class="btn btn-primary btn-large btn-block">
				DashBoard
			</a>
		</div>
	</div>
</form>