<link rel="stylesheet" href="/static/style.css" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
<form action="/newPasswordSet_{{y}}" method="POST">
	<div class="login">
		<div class="app-name">
			<h1> Matcha </h1>
		</div>
		<div class="login-screen">
			<div class="app-title">
				<h1>{{realName}}'s password reset</h1>
			</div>
			<a class="login-form">
				<div class="control-group">
					<input type="password" class="login-field" value="" placeholder="new password" name="password">
					<label class="login-field-icon fui-user" for="login-name">
					</label>
				</div>
				<div class="control-group">
					<input type="password" class="login-field" value="" placeholder="confirmation" name="confirm">
					<label class="login-field-icon fui-lock" for="login-pass">
					</label>
				</div>
				<input type="submit" value="Submit" class="btn btn-primary btn-large btn-block">
		</div>
	</div>
</form>